// stylelint-disable no-empty-source


$font-family: (
	main: #{-apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif},
	secondary: #{sans-serif},
	monospace: #{Consolas, "Liberation Mono", Menlo, Courier, monospace}
);
