// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-bg_outside: #f0f0f0;
$color-bg_inside: #fcfbf9;

$global-width: 660px;
$grid-columns: 8;
